
<div class="col-12">
{{ form_start(form) }}
	<div class="d-flex ">
		{{ form_label(form.title) }}
		{{ form_widget(form.title) }}
	</div>
	<div class="">
		{{ form_label(form.description) }}
		{{ form_widget(form.description) }}
	</div>
    <div class="">
		{{ form_label(form.photo) }}
		{{ form_widget(form.photo) }}
	</div>

</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
