<div class="col-sm-6 col-lg-4">
	<div class="card px-0 my-4">
		<div class="card-header header-user d-flex flex-row justify-content-between py-3">
			<div class="d-flex flex-row align-items-center">
				<img src="{% if post.owner.profilPicture == null %} /build/images/placeholder.png {% else %} {{ vich_uploader_asset(post.owner) }} {% endif %}"
				alt="avatar" class="avatar rounded-circle me-2">
				<p class="text-secondary fw-bold m-0">{{post.owner.firstname}}</p>
			</div>
			{% if app.user == post.owner %}
				<div class="nav-item dropdown">
					<button type="button" class="btn btn-light dropdown-toggle d-flex align-items-center p-2 rounded-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<div class="d-flex flex-column align-items-start">
							<i class="bi bi-three-dots text-secondary"></i>
						</div>
					</button>
					<div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
						<a class="dropdown-item d-flex justify-content-start align-items-center" href="{{ path('post_edit', { id: post.id }) }}">
							<i class="bi bi-pencil-square text-primary me-2"></i>
							Modifier</a>
							{{ include("post/_delete_form.html.twig") }}
					</div>
				</div>
			{% endif %}
		</div>
		<img src="{{ asset('build/images/')}}{{ post.photo }}" alt="post photo" class="postpicture">
		<div class="card-body p-3">
			<div class="row">
				<h3 class="card-title fs-3 mb-3 fw-bold text-secondary col-9">{{post.title}}</h3>
				<a class="col-1 fs-4" href=""><i class="bi bi-heart"></i></a>
				<a class="col-1 fs-4 " href="{{ path('post_add_fav', {id: post.id}) }}">{{ app.user.isInFavorite(post) ?
					'<i class="bi bi-star-fill"></i>' : '<i class="bi bi-star"></i>' }}</a>
			</div>

			<p class="card-text">{{post.description}}</p>
			<a href="{{ path('post_show', {id: post.id}) }}" class="d-flex justify-content-end">
				<i class="bi bi-chevron-right text-right"></i>
			</a>
		</div>
	</div>
</div>