{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ user.firstname }} {{ user.lastname }} modification{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('userProfile') }}
{% endblock %}
{% block body %}
<h1 class="text-center mt-5 mb-3">Mes infos personnelles</h1>

<div class="card col-6 offset-3">
    <div class="card-body">
        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a class="btn btn-secondary col-2" href="{{ path('user_show', {id: user.id}) }}"><i class="bi bi-arrow-left">
            </i>Retour</a>
    </div>
    </div>
</div>
{% endblock %}